<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>dataCollect</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.css}" rel="stylesheet">
    <link href="css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
    
</head>
<body>
    <div id="wrapper" class="container">
        <div th:replace="common/nav::navbar"></div>
        <main role="main" class="mt-3">
            <form action="" th:action="@{/data}", th:method="post"  enctype="multipart/form-data">
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">日期</span>
                        </div>
                        <input type="text" class="form-control" name="date" th:value="${day}">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A_T</span>
                        </div>
                        <input type="text" class="form-control" name="A_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="A_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="A_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="A_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B_T</span>
                        </div>
                        <input type="text" class="form-control" name="B_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="B_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="B_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">B_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="B_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C_T</span>
                        </div>
                        <input type="text" class="form-control" name="C_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="C_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="C_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">C_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="C_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D_T</span>
                        </div>
                        <input type="text" class="form-control" name="D_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="D_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="D_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">D_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="D_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">E_T</span>
                        </div>
                        <input type="text" class="form-control" name="E_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">E_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="E_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">E_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="E_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">E_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="E_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">F_T</span>
                        </div>
                        <input type="text" class="form-control" name="F_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">F_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="F_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">F_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="F_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">F_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="F_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">G_T</span>
                        </div>
                        <input type="text" class="form-control" name="G_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">G_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="G_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">G_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="G_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">G_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="G_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">H_T</span>
                        </div>
                        <input type="text" class="form-control" name="H_T">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">H_V_H</span>
                        </div>
                        <input type="text" class="form-control" name="H_V_H">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">H_V_L</span>
                        </div>
                        <input type="text" class="form-control" name="H_V_L">
                    </div>
                    <div class="input-group input-group-sm mb-3 col-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">H_V_E</span>
                        </div>
                        <input type="text" class="form-control" name="H_V_E">
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">remark</span>
                        </div>
                        <textarea class="form-control" id="desc" name="remark" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="input-group input-group-sm mb-3 col-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file" name="file" accept="image/*" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="file">Choose file</label>
                        </div>
                    </div>
                </div>
               
                <div class="form-row justify-content-center mt-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span>contract input</span>
                            <input type="checkbox" name="contractDataInput">
                        </div>
                    </div>
    
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span>special</span>
                            <input type="checkbox" name="special">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Submit123</button>
                </div>
    
            </form>
        </main>
    
        <script>
            const ele = document.getElementById('file');
            ele.addEventListener('change', () => {
                const res = ele.nextElementSibling;
                let file = ele.files[0];
                if (file !== undefined) {
                    res.textContent = ele.files[0].name;
                }
                
            });
        </script>
        
    
<!--        <script src="js/dataCollect.js"></script>-->
    </div>
</body>
</html>