<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>home</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.css}" rel="stylesheet">
    <link href="css/dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <ul>
                <li><a href="">录入</a></li>
                <li><a href="">查询</a></li>
            </ul>
        </div>
        <div id="content">
            <form action="" th:action="@{/test}", th:method="post"  enctype="multipart/form-data">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file" accept="image/*" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="file">Choose file</label>
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</body>
</html>